
body {
	background-color: #d6e0d2;
}

a {
	/* selects all anchor tags */
	color: #023047;
}

h1, h2 {
	/* selects multiple types of elements */
	color: #076eaa;
}

#stars {
	color: #f4a261;
}

.rocks {
	color: #0c676a;
}

li a {
	color: #ff006e;
}

p + hr {
	height: 100px;
}
