h1 {
    text-align: center;
    font-weight: 200;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 1cm;
    letter-spacing: 3px;
}
