
body {
	background-color: #42543c;
}

a {
	/* selects all anchor tags */
	color: #023047;
}

h1, h2 {
	/* selects multiple types of elements */
	color: #8ecae6;
}

#stars {
	color: #f4a261;
}

.rocks {
	color: #a8dadc;
}